@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('../public/fonts/GeneralSans-Variable.woff2') format('woff2'),
    url('../public/fonts/GeneralSans-Variable.woff') format('woff'),
    url('../public/fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-VariableItalic';
  src: url('../public/fonts/GeneralSans-VariableItalic.woff2') format('woff2'),
    url('../public/fonts/GeneralSans-VariableItalic.woff') format('woff'),
    url('../public/fonts/GeneralSans-VariableItalic.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}

html {
  @apply scroll-smooth !important;
}

@layer components {
  .mx-container {
    @apply mx-3 3xs:mx-5 xs:mx-7 sm:mx-9 xl:mx-16 3xl:mx-auto 3xl:max-w-[1280px];
  }

  .transition-300 {
    @apply duration-300 ease-in-out;
  }

  .gradient-text {
    @apply inline bg-clip-text text-transparent;
  }

  .dark-main-gradient {
    @apply bg-gradient-to-tr from-purple3 via-black to-purple3;
  }

  .light-main-gradient {
    @apply bg-gradient-to-tr from-purple3 via-beige to-purple3;
  }

  .dark-card-gradient {
    @apply bg-gradient-to-t from-purple4 to-transparent;
  }

  .light-card-gradient {
    @apply bg-gradient-to-t from-purple2 to-transparent;
  }

  .dark-project-gradient {
    @apply bg-gradient-to-tr from-[#2D2F53] via-black to-[#2D2F53];
  }

  .light-project-gradient {
    @apply bg-gradient-to-tr from-[#f6f6ff] via-beige to-[#f6f6ff];
  }

  .dark-uwaterloo-gradient {
    @apply bg-gradient-to-tr from-yellow via-black to-yellow;
  }

  .light-uwaterloo-gradient {
    @apply bg-gradient-to-tr from-yellow via-beige to-yellow;
  }

  .dark-uoft-gradient {
    @apply bg-gradient-to-tr from-blue via-black to-blue;
  }

  .light-uoft-gradient {
    @apply bg-gradient-to-tr from-blue via-beige to-blue;
  }

  .dark-td-gradient {
    @apply bg-gradient-to-tr from-green1 via-black to-green1;
  }

  .light-td-gradient {
    @apply bg-gradient-to-tr from-green2 via-beige to-green2;
  }

  .uhn-gradient {
    @apply bg-gradient-to-tr from-blue via-beige to-blue;
  }
}
